extends layout

block content
  button.mdui-fab.mdui-fab-fixed.mdui-ripple#jumpToUpload
    i.mdui-icon.material-icons file_upload
  .mdui-row
      .mdui-card.mdui-col-xs-12.mdui-col-sm-6.mdui-col-md-4
        .mdui-card-media
          img(src='https://fur233.oss-cn-hangzhou.aliyuncs.com/temp/IMG_1632.JPG')
          .mdui-card-media-covered.mdui-card-media-covered-transparent
            .mdui-card-primary
              .mdui-card-primary-title#todayCover-img 玄序
              .mdui-card-primary-subtitle 今日背景
            .mdui-card-actions
              .mdui-btn.mdui-ripple.mdui-ripple-white#todayCover-showDetail 查看大图
      .mdui-card.mdui-container.mdui-col-xs-12.mdui-col-sm-6.mdui-col-md-4#card
        .mdui-row
          .mdui-col-xs-4
            .mdui-typo-title#dash-usedImg 0 张
            .mdui-typo-subtitle 已用照片
          .mdui-col-xs-4
            .mdui-typo-title#dash-remainedImg 0 张
            .mdui-typo-subtitle 剩余照片
          .mdui-col-xs-4
            .mdui-typo-title#dash-countImg 0 张
            .mdui-typo-subtitle 照片总计
  script(src='/javascripts/index.js')